/* IMPORTS, VARIABLES & MICRO RESET */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
  --gap: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  font-family: "Raleway", sans-serif;
  color: #e0e0e0;
}

.logo {
  width: 5vw;
}

.content-background {
  background-color: #00000088;

}

.footer {
  background: linear-gradient(#00192ecc, #000000dd);
}

.footer__img {
  width: 20px;
  border-radius: 16px;
}

.fa-brands {
  color: #e0e0e0;
}